In [1]:
x=10.5
y=10.5

x is y
#because Python is not guaranteed to reuse the same memory address for floating-point numbers

False

In [ ]:
x = int(input('Enter First Number: '))
y = int(input('Enter Second Number: '))
print('The Sum:', x + y)

In [1]:
x = input('Enter some value: ')
print(type(x))  # it is always str type

Enter some value:  10.5

<class 'str'>

In [2]:
x = int(input('Enter First Number: '))
y = int(input('Enter Second Number: '))
print('The Sum:', x + y)

Enter First Number:  10
Enter Second Number:  20

The Sum: 30

In [3]:
print('The Sum:', int(input('Enter First Number:')) + int(input('Enter Second Number: ')))

Enter First Number: 10
Enter Second Number:  20

The Sum: 30

In [9]:
eno =int(input('Enter Employee Number: '))
ename = input('Enter Employee Name: ')
esal = float(input('Enter Employee Salary: '))
eaddr = input('Enter Employee Address: ')
married = bool(input('Employee Married?[True|False]: '))
print('Please confirm your information:')
print('Employee Number:', eno)
print('Employee Name:', ename)
print('Employee Salary:', esal)
print('Employee Address:', eaddr)
print('Employee Married?:', married)
print(type(eno))

Enter Employee Number:  1
Enter Employee Name:  a
Enter Employee Salary:  10
Enter Employee Address:  jal
Employee Married?[True|False]:

Please confirm your information:
Employee Number: 1
Employee Name: a
Employee Salary: 10.0
Employee Address: jal
Employee Married?: False
<class 'str'>

In [12]:
eno = eval(input('Enter Employee Number: '))
ename = input('Enter Employee Name: ')
esal = eval(input('Enter Employee Salary: '))
eaddr = input('Enter Employee Address: ')
married = eval(input('Employee Married?[True|False]: '))
print('Please confirm your information:')
print('Employee Number:', eno)
print('Employee Name:', ename)
print('Employee Salary:', esal)
print('Employee Address:', eaddr)
print('Employee Married?:', married)

Enter Employee Number:  10
Enter Employee Name:  aman
Enter Employee Salary:  100
Enter Employee Address:  jal
Employee Married?[True|False]:  True

Please confirm your information:
Employee Number: 10
Employee Name: aman
Employee Salary: 100
Employee Address: jal
Employee Married?: True

In [13]:
x = eval(input('Enter some value:'))
y = eval(input('Enter some value:'))
print(x + y)

Enter some value: 1
Enter some value: 2

3

In [15]:
x = eval(input('Enter Some Expression:'))
print(x)
print(type(x))

Enter Some Expression: 10.5

10.5
<class 'float'>

In [ ]:
x = eval(input('Enter Some Value:'))
print(type(x))
print(x)

In [21]:
x = eval('True')  # Example: eval('10') returns int 10
print(type(x))
print(x)

<class 'bool'>
True

In [ ]:
# eval() is always taking string argument only, but that string should represent some valid non-string value internally.

In [29]:
s = '10 20 30'# default seperator is space"
l = s.split()
print(l) 
print(type(l)) # output always in list when you apply split()
print(type(s))

for x in l:
    print(int(x))

['10', '20', '30']
<class 'list'>
<class 'str'>
10
20
30

In [30]:
s = input('Enter Two Numbers: ')
l = s.split()
print(l)
print(type(l))

Enter Two Numbers:  10 20

['10', '20']
<class 'list'>

In [33]:
a, b = input('Enter Two Numbers: ').split()
print(a, b)

Enter Two Numbers:  10 20

10 20

In [ ]:
a, b = [int(x) for x in input('Enter Two Numbers: ').split()]  # for each string present in this list, convert into int value # list comprehension
print('The Product:', a * b)

a, b = [int(x) for x in input('Enter 2 int values: ').split()]
print('The Product:', a * b)

a, b = [int(x) for x in input('Enter 2 int values: ').split(',')]
print('The Product:', a * b)

In [35]:
a, b = [int(x) for x in input('Enter Two Numbers: ').split()]  # for each string present in this list, convert into int value # list comprehension
print('The Product:', a * b)

Enter Two Numbers:  10 20

The Product: 200

In [ ]:
#default seperator is always space

In [42]:
a, b = [int(x) for x in input('Enter 2 int values: ').split('&')]# explicitly we are passing ,
print('The Product:', a * b)

Enter 2 int values:  10&20

The Product: 200

In [47]:
print("aman")
print()# new line character \n
print("abhi")
print()
print("pankaj")

aman

abhi

pankaj

In [53]:
#print("aman"\n"abhi")
print("aman/nabhi/npankaj")

aman/nabhi/npankaj

In [65]:
a, b, c = 10, 20, 30
print(a, b, c, sep='*')

10*20*30

In [69]:
print('Hello', end='$$')
print('durga')  # Hello***durga

Hello$$durga

In [70]:
a, b, c = 10, 20, 30
print(a, b, c, sep='*')
print(a, b, c, sep='-')

10*20*30
10-20-30

In [72]:
a, b, c = 10, 20, 30
print(a, b, c, sep='**', end='###')
print(a, b, c, sep='-')
print('durga')

10**20**30###10-20-30
durga

In [80]:
a, b, c = 10, 20, 30
print(a, b, c, sep='@@', end='###')
print(a, b, c, sep='-', end ='&&')
print('durga', end='**')

10@@20@@30###10-20-30&&durga**

In [77]:
a, b, c = 10, 20, 30
print(a,b,c , sep='-' end='###')
print('aman')

10-20-30
aman

In [81]:
print()
print(10)

10

In [85]:
x = 5
y = 10
z = 20
print(f"{z} + {y} = {z + y}")

20 + 10 = 30

In [86]:
name = "Aman"
age = 28
print(f"Hi {name},what is your age ,is it {age}?")

Hi Aman,what is your age ,is it 28?

In [89]:
name = input('Enter Your Name: ')
#if name == 'durga':
#        print('Hello Durga Good Morning!!!')
print('How are you')

Enter Your Name:  aman

How are you

In [91]:
name = input('Enter Your Name: ')
if name == 'durga':
    print('Hello Durga, Good Morning')
else:
    print('Hello Guest, Good Morning')
print('How are you')

Enter Your Name:  aman

Hello Guest, Good Morning
How are you

In [94]:
n1 = int(input('Enter First Number: '))
n2 = int(input('Enter Second Number: '))
if n1 > n2:
    print('Biggest Number:', n1)
else:
    print('Biggest Number:', n2)

Enter First Number:  20
Enter Second Number:  30

Biggest Number: 30

In [93]:
a=20 
b =10
if a>b:
    print('aman')
elif:
    print('durga')
print("ganesh")

IndentationError: expected an indented block after 'if' statement on line 3 (4200676182.py, line 4)

In [97]:
n1 = int(input('Enter First Number: '))
n2 = int(input('Enter Second Number: '))
n3 = int(input('Enter Third Number: '))
if n1 > n2 and n1 > n3:
    print('Biggest Number:', n1)
elif n2 > n3:
    print('Biggest Number:', n2)
else:
    print('Biggest Number:', n3)

Enter First Number:  10
Enter Second Number:  10
Enter Third Number:  10

Biggest Number: 10

In [103]:
chosen_team = input('Select Your IPL Team for the Match: ')

if chosen_team == 'RCB':
    print("Royal Challengers Bangalore (RCB) - The team with the most passionate fans!")
elif chosen_team == 'MI':
    print("Mumbai Indians (MI) - The champions with a legacy of success!")
elif chosen_team == 'CSK':
    print("Chennai Super Kings (CSK) - The team with the coolest captain!")
else:
    print("Other teams are not recommended in this IPL season!")

Select Your IPL Team for the Match:  MI

Mumbai Indians (MI) - The champions with a legacy of success!

In [105]:
n = int(input('Enter a digit from 0 to 9: '))
if n == 0:
    print('ZERO')
elif n == 1:
    print('ONE')
elif n == 2:
    print('TWO')
elif n == 3:
    print('THREE')
elif n == 4:
    print('FOUR')
elif n == 5:
    print('FIVE')
elif n == 6:
    print('SIX')
elif n == 7:
    print('SEVEN')
elif n == 8:
    print('EIGHT')
elif n == 9:
    print('NINE')
else:
    print('Please enter a digit from 0 to 9')

Enter a digit from 0 to 9:  4

FOUR

In [ ]:
s = input('Enter Any String: ')
i = 0
for ch in s:
    print('The character present at', i, 'index:', ch)
    i = i + 1  # i += 1

In [106]:
l = [1,2,3,4]
for x in l:
    print(x)

1
2
3
4

In [113]:
s = input('Enter Any String: ')
index = 0
for x in s:
    print('The character present at', index, 'index:', x)
    index = index + 1

Enter Any String:  amanabhipankaj

The character present at 0 index: a
The character present at 1 index: m
The character present at 2 index: a
The character present at 3 index: n
The character present at 4 index: a
The character present at 5 index: b
The character present at 6 index: h
The character present at 7 index: i
The character present at 8 index: p
The character present at 9 index: a
The character present at 10 index: n
The character present at 11 index: k
The character present at 12 index: a
The character present at 13 index: j

In [111]:
s = 'aman'
print(s[3])

n

In [120]:
s = input('Enter Any String: ')
index_1 = 0

for x in s:
    print('The character present at', index_1, 'index:', x)
    index_1 = index_1 +1

Enter Any String:  aman

The character present at 0 index: a
The character present at 1 index: m
The character present at 2 index: a
The character present at 3 index: n

In [121]:
for x in range(1, 11):
    print(x, 'Hello')

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello

In [122]:
for x in range(21):  # odd numbers 
    if x % 2 != 0:
        print(x)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for x in range(1, 21, 2):
    print(x)

In [123]:
for x in range(21):  # odd numbers 
    if x % 2 == 0:
        print(x)

0
2
4
6
8
10
12
14
16
18
20

In [124]:
for x in range(1, 21, 2):
    print(x)

1
3
5
7
9
11
13
15
17
19

In [135]:
l = eval(input('Enter List: '))  # [10,20,30,40]
sum = 0

for x in l:
    sum = sum + x
print('The Sum:', sum)

Enter List:  ['a1','b1']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
[ 10 20 30]
[10,20,30]
# Enter List: ['a', 'b','c']
# The Sum: abc
# Enter List: ['a', 'b','c']
# The Sum: ['a', 'b', 'c']

In [137]:
x = 1
while x <= 10:
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9

In [138]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = int(input('Enter n value: '))
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i + 1
print('The sum of first {} numbers: {}'.format(n, sum))

In [147]:
n = int(input('Enter n value: '))
sum = 0
i = 1
while i <= n:
    #print(i)
    sum = sum + i
    i = i + 1
print(f"The sum of first {n} numbers: {sum}")

Enter n value:  5

The sum of first 5 numbers: 15

In [146]:
n = int(input('Enter n value: '))
sum = 0
for x in range(1, n + 1):
    sum = sum + x
print(sum)

Enter n value:  5

15

In [148]:
name = ''
while name != 'sunny':
    name = input('Enter Your Favourite Heroine: ')
print('Thanks for confirmation')

Enter Your Favourite Heroine:  iron man
Enter Your Favourite Heroine:  srk
Enter Your Favourite Heroine:  sunny

Thanks for confirmation

In [ ]:
name = ''
i = 0
while name != 'aman':
    name = input('Enter Your Favourite Heroine: ')
    i = i + 1
    if i == 10:
        print("Your Maximum attempts completed")
        break

In [150]:
name = ''
i = 0
while name != 'sunny':
    name = input('Enter Your Favourite Heroine: ')
    i = i + 1
    if i == 10:
        print("Your Maximum attempts completed")
        break

Enter Your Favourite Heroine:  aaa
Enter Your Favourite Heroine:  www
Enter Your Favourite Heroine:  eee
Enter Your Favourite Heroine:  rrr
Enter Your Favourite Heroine:  ttt
Enter Your Favourite Heroine:  qq
Enter Your Favourite Heroine:  ww
Enter Your Favourite Heroine:  eee
Enter Your Favourite Heroine:  rrr
Enter Your Favourite Heroine:  rrr

Your Maximum attempts completed

In [153]:
while True:
    username = input('Enter User Name: ')
    pwd = input('Enter Password: ')
    if username == 'durga' and pwd == 'sunny':
        print('You are valid user, you can avail services')
        break
    else:
        print('Your credentials are invalid, please provide again')

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  a
Enter Password:  a

Your credentials are invalid, please provide again

Enter User Name:  durga
Enter Password:  sunny

You are valid user, you can avail services

In [155]:
for i in range(10):
    if i == 7:
        break
    print(i)
#print('Loop execution enough...plz break')

0
1
2
3
4
5
6

In [159]:
cart = [10, 20, 600, 60, 70]
for item in cart:
    if item > 500:
        continue
    print(item)
print('To place this order, insurance must be required')

10
20
60
70
To place this order, insurance must be required

In [160]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [166]:
cart = [10, 20, 500, 700, 50, 60]
for item in cart:
    if item >= 500:
        continue
    print('Processing Item:', item)
    print('We cannot process this item because of insurance issue:', item)

Processing Item: 10
We cannot process this item because of insurance issue: 10
Processing Item: 20
We cannot process this item because of insurance issue: 20
Processing Item: 50
We cannot process this item because of insurance issue: 50
Processing Item: 60
We cannot process this item because of insurance issue: 60

In [167]:
cart = [10, 20, 500, 700, 50, 60]
for item in cart:
    if item >= 500:
        break
    print('Processing Item:', item)
    print('We cannot process this item because of insurance issue:', item)

Processing Item: 10
We cannot process this item because of insurance issue: 10
Processing Item: 20
We cannot process this item because of insurance issue: 20

In [ ]:
# Q1. What is the difference between for loop and while loop???
# Repeat code for every item in the sequence ---> for loop
# Repeat code as long as some condition is True ---> while loop
# Q2. How to exit from the loop?
# break statement
# Q3. How to skip some iterations inside loop?
# continue statement
# Q4. When else part will be executed for loops?
# if the loop without break then only else will be executed.

In [173]:
if 10 > 20:
    print('Hello')
else:
    pass

In [178]:
def additem():
    pass
def deleteitem():
    pass
def updateitem():
    print('Updating item implementation')


s=updateitem()
print(s)

Updating item implementation
None

In [180]:
x = 10
del x
print(x)

NameError: name 'x' is not defined

In [181]:
s1 = 'durga'
s2 = s1
s3 = s1
del s1
print(s2)
print(s3)

durga
durga

In [182]:
s1 = 'durga'
del s1
# print(s1)  # NameError: name 's1' is not defined
s1 = 'durga'
s1 = None
print(s1)

None

In [183]:
s1 = 'durga'
s1 = None
print(s1)

None

In [184]:
s1 = 'durga'
del s1[0]  # TypeError: 'str' object doesn't support item deletion

TypeError: 'str' object doesn't support item deletion

In [ ]:
# pass ===> empty statement
# del ===> to delete variables which are no longer required in our program
# automatically the corresponding objects eligible for gc.
# if useless objects deleted, free memory will be improved.
# our program won't face memory issues.

In [189]:
#s = 'The classes of \"Python\' By "Durga Sir" are Good'
s = '''The classes of "Python' By "Durga Sir" are Good'''
print(s)

The classes of "Python' By "Durga Sir" are Good

In [ ]:
# 1. To define multiline string literals
# 2. To use single or double quotes as symbol only
# 3. Doc string

In [ ]:
# How to access characters of the string:
# 2 ways
# 1. By using index
# 2. By using Slice Operator

In [191]:
s = input('Enter Any String: ')
i = 0
for x in s:
    print('The Character Present at Positive Index {} is : {}'.format(i, x))
    i = i + 1

Enter Any String:  aman

The Character Present at Positive Index 0 is : a
The Character Present at Positive Index 1 is : m
The Character Present at Positive Index 2 is : a
The Character Present at Positive Index 3 is : n

In [195]:
s = input('Enter Any String: ')
i = 0
for x in s:
    #print('The Character Present at Positive Index {} and at Negative Index {} is : {}'.format(i - len(s),i, x))
    print(f"The Character Present at Positive Index {i} and at Negative Index {i - len(s)} is : {x}")
    i = i + 1

Enter Any String:  AMAN

The Character Present at Positive Index 0 and at Negative Index -4 is : A
The Character Present at Positive Index 1 and at Negative Index -3 is : M
The Character Present at Positive Index 2 and at Negative Index -2 is : A
The Character Present at Positive Index 3 and at Negative Index -1 is : N

In [ ]:
name = "Aman"
age = 28
print(f"Hi {name},what is your age ,is it {age}?")

In [196]:
s = 'Learning Python is very easy'
print(s[1:5])

earn

In [198]:
s = 'abcdefghijk'

#print(s[1:5:1])
print(s[1:10:3])

beh

In [ ]:
# 2. By using Slice Operator:
# [begin_index:end_index:step]
# [begin:end:step]
# [begin:end]
# from begin index to end-1 index
# for begin and end we can take either positive index or negative index.

In [201]:
s = 'abcdefghijk'

print(s[1:10000:1])
#print(s[10000])

bcdefghijk

In [202]:
print(s[11000:1000:1])

In [ ]:
# [begin:end]
# from begin index to end-1 index
# for begin and end we can take either positive index or negative index
# step value can be either positive or negative.
# The default step value is: +1
# +ve step value means forward direction (left to right)
# from begin to end-1
# -ve step value means backward direction (right to left)
# from begin to end+1

In [217]:
s = 'abcdefghijkl'

s[::1]
#len(s)

'abcdefghijkl'

In [ ]:
# In Forward Direction:
# default begin value: 0
# default end value: len(s)
# default step value: 1

# In Backward Direction:
# default begin value: -1
# default end value: -len(s)-1

In [219]:
s = 'abcdefghijkl'
print(s[-1:-11:-1])

lkjihgfedc

In [ ]:
print(s[::-1])  # zyxwvutsrqponmlkjihgfedcba
print(s[-1:-27:-1])  # zyxwvutsrqponmlkjihgfedcba
# default begin: -1

In [ ]:
# In the forward direction if end value is 0 then result is always empty.
# In the backward direction if end value is -1 then result is always empty.

In [220]:
s = 'abcdefghijkl'
print(s[10:0:1])

In [223]:
s = 'abcdefghijkl'
print(s[-100000000000000000000000:-1:-1])

In [ ]:
# >>> s[1:6:2]
# 'bdf'
# >>> s[::1]
# 'abcdefghij'
# >>> s[::-1]
# 'jihgfedcba'
# >>> s[3:7:-1]  # empty string

In [224]:
s = 'abcdefghijkl'
print(s[3:7:-1])

In [235]:
s = 'abcdefghijkl'
s[1:6:2] #---> 'bdf'
s[::1] #---> 'abcdefghij'
s[::-1] #---> 'jihgfedcba'
s[3:7:-1] #---> '' (empty)
s[7:4:-1] #---> 'hgf'
s[0:10000:1] #---> 'abcdefghij'
s[0:10000:-1] #---> '' (empty)
# from 0 to 10000
s[-4:1:-1] #---> 'gfedc'

'ihgfedc'

In [238]:
s = input('Enter Any String: ')
print('In Forward Direction:')
for x in s:
    print(x)
print('In Backward Direction:')
for x in s[::-1]:
    print(x)

Enter Any String:  aman

In Forward Direction:
a
m
a
n
In Backward Direction:
n
a
m
a

In [241]:
# string comparison

s1 = input('Enter First String: ')
s2 = input('Enter Second String: ')
if s1 == s2:
    print('Both Strings are equal')
elif s1 < s2:
    print('First String is less than Second String')
else:
    print('First String is greater than Second String')

Enter First String:  aman
Enter Second String:  Aman

First String is greater than Second String

In [246]:
city = input('Enter Your City Name: ')
if city == 'Hyderabad':
    print('Hello Hyderabadi.. Aadaab')
elif city == 'Chennai':
    print('Hello Madrasi...Vanakkam')
elif city == 'Bangalore':
    print('Hello Kannadiga.. Namaskara')
else:
    print('Your Entered City', city, 'is invalid')

Enter Your City Name:   Hyderabad

Your Entered City  Hyderabad is invalid

In [254]:
city = input('Enter Your City Name: ')
scity = city.strip()
if scity == 'Hyderabad':
    print('Hello Hyderabadi.. Aadaab')
elif scity == 'Chennai':
    print('Hello Madrasi...Vanakkam')
elif scity == 'Bangalore':
    print('Hello Kannadiga.. Namaskara')
else:
    print('Your Entered City', city, 'is invalid')

Enter Your City Name:   Hyderabad mumbai

Your Entered City  Hyderabad mumbai is invalid

In [ ]:
# Finding substrings:
# find()
# index()
# rfind()
# rindex()
# string.find(substring)
# Returns index of first occurrence of the given substring.
# Returns -1 if it is not available.

In [263]:
s = 'Learning Python is very python easy' # It returns index of 1st occurence of given substring
#print(s.find('Python'))  # 9
#print(s.find('java'))    # -1
print(s.find('r'))       # 3

print(s.rfind('python'))  # 23

#s = 'Learning Python is very easy'
print(s.find('Python', 15, 26))  # -1
#print(s.rfind('Python'))

# find(substring, begin, end)
# from begin to end-1
# 15 to 24

3
24
-1
9

In [256]:
s = 'aman abhi pankaj'# substring 
s[5:9]

'abhi'

In [260]:
s= "A B C D E F G H I J"
print (s[0:5])

A B C

In [279]:
s = 'Learning Python is very python easy'
print(s.find('python', 15, 30))  # -1

24

In [280]:
s = 'Learning Python is very easy'
print(s.find('v', 15, 25))

19

In [283]:
s = 'aaaaaaaaaabbbbaaaaaabaaaaaaa'
print(s.find('a'))  # 0

0

In [284]:
s = 'aaaabbbbbbaaaaabbbbbbbbb'
print(s.find('a'))         # 0
print(s.rfind('a'))        # 15
print(s.find('a', 5, 20))  # 11
print(s.rfind('a', 5, 20)) # 15

0
14
10
14

In [ ]:
# Finding the substrings:
# find(substring)
# find(substring, begin, end)
# rfind(substring)
# rfind(substring, begin, end)
# index(substring)
# index(substring, begin, end)
# rindex(substring)
# rindex(substring, begin, end)

In [ ]:
# find(substring)
# if the specified substring not present it returns -1

# index() method is exactly same as find() method except that if the specified substring is not available then we will get ValueError.

In [286]:
s = 'Learning python is very easy'
print(s.find('p'))    # 9
print(s.rfind('y'))   # 27
print(s.index('p'))   # 9
print(s.rindex('y'))  # 27
print(s.index('z'))  # ValueError: substring not found

9
27
9
27

ValueError: substring not found

In [293]:
s = input('Enter Main String: ')
subs = input('Enter sub String: ')
n = len(s)
pos = 0
while True:
    i = s.find(subs, pos, n)
    if i == -1:
        #print("exiting loop")
        break
    else:
        print('Found at index:', i)
        pos = i + len(subs)
print(pos)

Enter Main String:  aman
Enter sub String:  m

Found at index: 1
2

In [295]:
s = input('Enter Main String: ')
subs = input('Enter sub String: ')
n = len(s)
pos = 0
count = 0
while True:
    i = s.find(subs, pos, n)
    if i == -1:
        break
    else:
        print('Found at index:', i)
        count += 1
        pos = i + len(subs)
print('The Total Number of Occurrences:', count)

Enter Main String:  python is very very easy to learn
Enter sub String:  very

Found at index: 10
Found at index: 15
The Total Number of Occurrences: 2

In [297]:
s = input('Enter Main String: ')
subs = input('Enter sub String: ')
print('The Total Number of Occurrences:', s.count(subs))
print('The Total Number of Occurrences:', s.count(subs, 4, 15))

Enter Main String:  python is very very easy to learn
Enter sub String:  very

The Total Number of Occurrences: 2
The Total Number of Occurrences: 1

In [301]:
s = 'Learning Python is very difficult and very difficult  difficult  difficult ' # replace str with another str
s1 = s.replace('difficult', 'easy')
print(s1)

Learning Python is very easy and very easy  easy  easy

In [299]:
s = 'abababababab'
s1 = s.replace('a', 'b')
print(s1)

bbbbbbbbbbbb

In [303]:
s = ' aba bab aba ba b '
s1 = s.replace(' ', '')
print(s)
print(s1)

 aba bab aba ba b
abababababab

In [305]:
s = ' aba bab aba ba b ' # string is immutable, how replace() method works.
s1 = s.replace(' ', '')
print(s1)
print(len(s) - len(s1))

abababababab
6

In [307]:
s = 'durga software solutions'
l = s.split()
for x in l:
    print(x)
print(type(l))
print(type(s))

durga
software
solutions
<class 'list'>
<class 'str'>

In [309]:
s = 'one,two,three,four,five'
l = s.split(',')
for x in l:
    print(x)

one
two
three
four
five

In [315]:
s = '01-08-2020'
l1 = s.split('$')
for x in l1:
    print(x)

print(type(l1))

01-08-2020
<class 'list'>

In [ ]:
#The split() method in Python is exclusively available for string objects. 
#It serves the purpose of dividing a string into a list of substrings based on a specified delimiter.
#If no delimiter is provided, it defaults to splitting the string at whitespace characters.